extends layout/default.pug

block isi
  .alert.alert-success Ini adalah buku yang #[strong selesai] kubaca hari ini:
  form.form-tambah
    .form-group
      label Judul
      input.form-control.judul(required)
    input(type="submit").submit-tambah.sembunyi
      
block menu
  td: .btn.btn-success.tambahkan: +icon("ok")
  
block app
  include:babel(presets=["es2015"]) include/tambah.js