extends post.pug

block isi
  :marked
    # Perkenalan
    
    Mungkin bagi kalian yang baru saja mendengar kata Pug JS pada bingung: Pug JS ini apa ya? Apa sih kehebatannya? Mengapa aku seharusnya mempelajarinya? Keren kah ini? Apa bagusnya buatku?
    
    Dan masih banyak pertanyaan heran lainnya.
    
    Tapi jangan khawatir, di sini aku akan membantu kalian semua dalam menyelami dunia Pug JS yang seru.
    
    Pertama, kamu tau kan yang namanya HTML? Yap, sekumpulan kode yang berfungsi sebagai kerangka suatu website. Contohnya aja seperti kode di bawah ini:
    
    ```html 
    <!doctype html>
    <html>
      <head>
        <title>Hello</title>
      </head>
      <body>
        <h1>Hello world</h1>
      </body>
    </html>
    ```
    
    Sebenarnya sih kode HTML di atas sudah cukup sederhana. Tapi, tau nggak sih, kalau dengan Pug, kita bisa membuatnya menjadi lebih sederhana lagi:
    
    ```pug 
    doctype html 
    html 
      head 
        title Hello
      body 
        h1 Hello world
    ```
    
    Lalu, apakah Pug bisa dijalankan di browser? Ya nggak sih. Jadi, cara kerjanya itu, kode Pug yang telah kita tulis itu akan diolah oleh komputer menjadi kode HTML yang bisa dibaca oleh browser. Lalu, bukankah akan lebih mudah jika kita langsung menuliskan kode HTML aja? Ya perhatikan aja kode di atas. Lebih simpel Pug atau HTML? Pug tentu saja. Kamu siap mempelajarinya? Ayo kita lanjut.