extends post.pug

block isi
  :marked
    # Instalasi Pug JS
    
    Untuk menggunakan Pug JS, pertama-tama, kita harus pastikan dulu bahwa komputer kita telah memiliki Node JS. Kalau belum, berarti install dulu. Setelah itu, baru kita install Pug CLI.
    
    ## Instalasi pada Linux
    
    Ketikkan kode berikut di Terminal untuk mulai instalasi Pug:
    
    ```bash
    sudo apt install nodejs
    sudo npm install -g pug-cli
    ```
    
    > Untuk bab-bab setelah ini, kayaknya aku bakalan jarang kasih `sudo` di depannya. Jadi, buat kamu pengguna Linux, jangan lupa kasih `sudo` ya untuk berbagai perintah yang mengakses root.
    
    ## Instalasi pada Android
    
    Kalau di Android, tentu saja kita memerlukan Termux yang berfungsi sebagaimana Terminal di Linux. Nah, di Termux ketikkan kode berikut:
    
    ```bash
    pkg install nodejs
    npm install -g pug-cli
    ```
    
    ## Instalasi pada Windows
    
    Untuk instalasi pada Windows, pertama, kamu download dulu installer Node JS dari situsnya kemudian tinggal diinstall.
    
    Setelah diinstall, jalankan kode berikut di Command Prompt:
    
    ```bash
    npm install -g pug-cli
    ```