doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  body
    a(href="https://google.com") Klik aku
    script
      :uglify-js:babel(presets=["env"])
        document.querySelector("a").addEventListener("click", x => {
          x.preventDefault()
          location.href = "https://reviewbuku.netlify.com"
        })