doctype html
html
  head
    meta(name="viewport" content="width=device-width, initial-scale=1, user-scalable=no")
  body
    .halo
    .halo
    .halo
    .halo
    
    script
      :uglify-js:babel(presets=["env"])
        var $ = x => document.querySelectorAll(x)
        $(".halo").forEach(x => x.innerHTML = "Haloooo")